* {
    box-sizing: border-box;
}

:root {
    --primary: blue;
    --secondary: indigo;
    --field-text: white;
}

.header-box {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 0 15px;
}

#header-grad {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

#header-text {
    display: flex;
    color: var(--field-text);
    text-align: center;
    font-size: 40px;
}

.page-content {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
    justify-content: space-between;
}

.search-box {
    flex-direction: column;
    align-self: flex-start;
    max-width: 33%;
    margin-left: 25px;
    align-items: stretch;
}

#search-head-text {
    font-size: 35px;
    margin: 15px 0;
}

#search-input {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.search-btn-box {
    padding-top: 10px;
    border-bottom: 3px solid gray;
}

.search-btn,
.search-again-btn {
    width: 100%;
    height: 35px;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 5px;
    opacity: .6;
    margin-bottom: 10px;
}

.search-btn:hover,
.search-again-btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
}

#city-one-button,
#city-two-button,
#city-three-button,
#city-four-button,
#city-five-button {
    background-color: dimgray;
    border: dimgray;
}

.current-forecast-container {
    flex-direction: column;
    align-self: stretch;
    width: 60%;
    margin-right: 25px;
}

.current-weather-box {
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

.current-conditions {
    list-style-type: none;
    padding: 0;
}

#current-head-text {
    padding-left: 7px;
    color: var(--field-text);
}

.current-text {
    padding: 0 0 7px 7px;
    font-size: 18px;
    color: var(--field-text);
}

#current-weather-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#current-date {
    color: var(--field-text);
    padding-right: 7px;
}

.forecast-container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.forecast-box {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    width: 17%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-stats {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.forecast-date {
    color: var(--field-text);
    font-size: 18px;
    margin: 22px 0 0 0;
}

.forecast-stats {
    margin: 10px 0;
}

.forecast-stats-icons {
    display: flex;
    justify-content: center;
}

.forecast-stats-text {
    color: var(--field-text);
    
}